<mat-card>
  <mat-card-header
    fxLayout="column"
    fxLayoutAlign="center left"
    fxLayoutGap="10px">
    <h1>Contacts</h1>
  </mat-card-header>
  <mat-card-content>

    <div *ngIf="contactList && contactList.length>0">
      <mat-form-field >
        <input matInput [(ngModel)]="filterLastName"
               placeholder="Search All Contacts - Last Name">
      </mat-form-field>
      <button mat-raised-button type='button'
              (click)="onFilterAllContacts()">Search All Contacts</button>
      <mat-form-field >
        <input matInput [(ngModel)]="filterAll"
               (keyup)="applyAnyFilter($event.target.value)"
               placeholder="Filter Contacts">
      </mat-form-field>


      <table mat-table #table
             [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName" >
          <th mat-header-cell mat-sort-header
              *matHeaderCellDef style="text-align:left;padding-left: 20px">First Name</th>
          <td mat-cell *matCellDef="let element" style="text-align:left">
            <button mat-button (click)="edit(element)" color="primary">
              {{element.firstName}}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell  mat-sort-header
              *matHeaderCellDef style="text-align:left;" (click)="sortField('lastName')">Last Name</th>
          <td mat-cell *matCellDef="let element" style="text-align:left">
            {{element.lastName}}
          </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef
              mat-sort-header
              style="text-align:left">Email</th>
          <td mat-cell *matCellDef="let element" style="text-align:left">
            {{element.email}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'highlight': selectedContactId === row.id}"
                 (click)="rowClicked(row)"></tr>
      </table>
      <mat-paginator [length]="totalContacts"
                     [pageSize]="contactsPerPage"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onChangedPage($event)"
                     *ngIf="contactList.length>0">
      </mat-paginator>
    </div>
    <div *ngIf="!contactList || contactList.length===0">
      <label>No Contacts found</label>
    </div>
  </mat-card-content>
</mat-card>
